name: generate domains index

on:
  schedule:
    - cron: "0 3 * * 1"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout main
        uses: actions/checkout@v4

      - name: setup bun
        uses: oven-sh/setup-bun@v1

      - name: install deps
        run: bun install

      - name: run
        run: bun run src/index.ts

      - name: create release
        run: |
          TAG=$(date +'%Y-%m-%d-%H%M%S')
          gh release create "$TAG" domains.json.gz --title "is-a.dev on $TAG" --notes "meow ig"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
